img {
  vertical-align: middle;

}

body {
  background: url(/static/images/background.png) repeat-x;

}

.header {
   line-height: 50px;
   color: #FFFFFF;
}

.header a {
   color: #FFFFFF;
   text-decoration: none;
}

.playlistrow {
   height: 60px;
}

.playlistrow img {
   vertical-align: top;
}

.playlistrow .title {
   font-size: 30px;
   padding-left: 10px;
   padding-bottom: 4px;
}
.playlistrow .title a {
   text-decoration: none;
}

.playlistrow .meta {
   font-size: 13px;
   padding: 0;
   margin: 0;
   padding-left: 10px;
   
}

  input.title {
    width: 360px;
  }

  input.track {
    width: 320px;
    display: inline;
  }
  input.artist {
    width: 280px;
    display: inline;
  }
  
  label.track  {
    margin:0;
    display: inline;
    margin-left: 5px;
  }

  label.artist  {
    display: inline;
    margin:0;
    margin-left: 305px;

  }
